/* General navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #1487aa;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo styling */
.navbar-logo a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Navbar links styling */
.navbar-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

/* Styling for each link */
.navbar-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
}

.language-select {
    background-color: #00bcd4;
    color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0097a7;
}

/* Hover effect for links */
.navbar-links li a:hover{
    color: #00bcd4;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar-links {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .navbar-links li {
        width: 100%;
    }

    .navbar-links li a {
        display: block;
        padding: 10px 0;
        width: 100%;
    }
}
